<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Summarizer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
       .navbar {
            background-color: #007bff;
            color: #fff;
        }
        
    </style>
</head>
<body>
    
        {% block content %}
        {% endblock %}
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
